body {
	background-color: rgb(0,0,0);
	width: auto;    
	position: fixed;
	top: 0px;
	left: 0px;
}

#headerBar {
	background-color: rgb(220,201,177);
	width: 100%;
	max-width: 1205px;
	text-align: center;
	font-family: Arial;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 5px;
}

#leftContainer {
	background-color: rgb(192,192,192);
	float:left;
	width: 605px;
	height: 450px;
	margin-right:5px;
	padding: 20px 5px 0px 5px;
}

#tabHeader {
	width: 100%;
	height: 50px;
	background-color: rgb(227,227,227);
}

.tabOption {
	width: 25%;
	height: 35px;
	float: left;
	display: inline;
	text-align: center;
	font-family: Arial;
	font-size: 1em;
	font-weight: bold;
	padding-top: 15px;
	cursor: pointer;
}

.selectTab {
	background-color: rgb(192,192,192);
}

.tabOption a {
	text-decoration: none;
	color: #000000;
}

#rightContainer {
	background-color: rgb(192,192,192);
	float: left;
	width: 300px;
	height: 450px;
	padding: 20px 15px 0px 20px;
}

#wheelWrapper {
	margin-top: 50px;
}

.colorwheel {
	float:left; 
	margin-right: 20px; 
	width: 300px; 
	text-align: left;
}

.colorInput {
	width: 50%; 
	font-family: sans-serif; 
	font-size: 2em; 
	margin-top: 20px;
}

#colorGrid {
	float: left;
	position: relative;
	top: -15px;
	left: -17px;
	width: 370px;
	height: 50px;
}

.colorOption {
	background-color: rgb(0,0,0);
	width: 50px;
	height: 50px;
	float: left;
	display: inline;
	text-align: center;
	font-family: Arial;
	font-size: 1em;
	font-weight: bold;
	margin-right: 5px;
	margin-bottom: 5px;
}

#panelsTab .effectsRight {
	padding: 20px 0px;
}

.effectDisplay > .displayName {
	width: 305px;
	height: auto;
	background-color: #efefef;
	padding: 10px;
	font-size: 1.6em;
}

.effectDisplay {
	font-family: Helvetica, Arial;
	font-size: 1em;
	padding: 10px;
}

.effectDisplay input {
	width: 200px;
	height: auto;
	padding: 10px;
	font-size: 1.6em;
	border: none;
}

.effectsList {
	position: relative;
	top: 10px;
	left: 10px;
	width: 325px;
	height: 275px;
	border: 2px solid #666666;
	overflow: scroll;
}

.effectsList ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.effectsList ul li {
	font-family: Helvetica, Arial;
	font-size: 2em;
	padding: 10px;
	cursor: pointer;
}

.effectsList ul li:nth-child(odd) {
	background-color: #ffffff;
}

.effectsList ul li:nth-child(even) {
	background-color: #efefef;
}

#panelsTab svg {
	width: 250px;
	height: 400px;
	padding: 20px 0px;
}

.effectControlWrapper {
	margin: 10px;
}

.button.effect {
	width: 200px;
	height: 30px;
	padding: 10px;
	margin-bottom: 10px;
}

#settingsTab {
	margin-top: 5px;
}

#settingsTab label {
	font-family: Helvetica, Arial;
	font-size: 1em;
	line-height: 10px;
	padding-left: 10px;
}

#settingsTab th {
	font-family: Helvetica, Arial;
	font-size: 1em;
	font-weight: normal;
	line-height: 10px;
}

#settingsTab ul {
	margin: 5px;
	padding: 0;
}

#settingsTab ul li {
	display: inline-block;
	list-style: none;
	width: 60px;
	height: 60px;
	line-height: 60px;
	margin: 0px 5px;
}

.button {
	font-family: Helvetica, Arial;
	font-size: 1.5em;
	background-color: #333333;
	color: #efefef;
	text-align: center;
	cursor: pointer;
}

.button.active {
	background-color: white;
	color: black;
}

#settingsTab input {
	display: block;	
	width: 140px;
	height: 25px;
	font-family: Helvetica, Arial;
	font-size: 2em;
	margin: 5px 0px;
	padding: 10px;
	border: none;
	text-align: center;
}

#settingsTab div.button {
	width: 140px;
	padding: 10px;
}

#settingsTab td {
	padding: 0px 10px;
}

#settingsTab .space {
	background-color: white;
	width: 140px;
	height: 25px;
	line-height: 25px;
	font-family: Helvetica, Arial;
	font-size: 2em;
	margin: 5px 0px;
	padding: 10px;
	text-align: center;
}

.magenta { background-color: #7F0A7F; }
.red { background-color: red; }
.orange { background-color: orange;}
.yellow { background-color: yellow;}
.green { background-color: green;}
.blue { background-color: blue;}

#canvas {
	display: none;
	border: 1px solid gray;
	width: 953px;
	height: 170px;
}

.panel {
	fill: black;
	stroke: black;
	cursor: pointer;
}

.left {
	float: left;
}

.right {
	float: right;
}
